.content {
    background-color: #8d8c4520;
    position: relative;
    font-family: 'Fredoka', sans-serif;
}

@media (width < 800px) {
    .h3{
        font-size: 1.5em;
    }
    #Img {
        max-width: 400px;
        background-position: center;
        max-height: 15em;
    }
}
@media (width < 400px) {
    .h3{
        font-size: 1em;
    }
}