.conteinerBox {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
    font-family: 'Fredoka', sans-serif;
}

.boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.box {
    width: calc(30% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.contentTex {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.frontBox,
.backBox {
    background-size: cover;
    box-shadow: 0 4px 8px 0 #ffdd00;
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    text-align: center;
    min-height: 440px;
    box-shadow: 0 0 10px solid blue;

    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.backBox {
    background-color: #002142;
    box-shadow: 0 4px 8px 0 #002142;
    font-size: 1em; 
}
.ul{
    display: flex;
    list-style: disc;
}
.frontBox::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #ffdd00;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.contentTex:hover .frontBox,
.conteinerTex:hover .backBox {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.backBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: (-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.inner li {
    display: flex;
    justify-content: start;
    text-align: start;
}

.contentTex .backBox {
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.contentTex .frontBox {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.contentTex:hover .backBox {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.contentTex:hover .frontBox {
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.frontBox{
    color: #002142;
    font-weight: 600;
}
.frontBox .inner .p {
    font-size: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.frontBox .inner .p::after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #002142;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

@media screen and (max-width: 64rem) {
    .box {
        width: calc(33.333333% - 2rem);
    }
    .inner ul{
        font-size: 15px;
    }
}

@media screen and (max-width: 48rem) {
    .box {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .box {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}